/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

/* Layout */
.container {
  position: relative;
  width: 1000px;
  margin: 80px auto;
}

/* Utilities */
body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #2D2D2A;
}

h1 {
  font-weight: 400;
}

a {
  font-weight: 300;
  font-size: 1.3em;
  color: #3185FC;
  text-decoration: none!important;
}

/* Bootstrap */
.btn-primary {
  color: #F2EDEB;
  background-color: #3185FC;
  border-color: #090C9B;
}

/* Custom CSS */
.letters {
  padding-left: 0px;
  list-style: none;
}

.letters > li {
  display: inline-block;
  padding: 35px;
  font-size: 1.4em;
  font-weight: bold;
  color: #F2EDEB;
  border: 1px solid #090C9B;
  background-color: #3185FC;
  border-radius: 4px;
}

.assignment {
  font-size: 1.3em;
  font-weight: 300;
}

#basicUsage {
  position: absolute;
  top: 74%;
  left: 80%;
  font-size: 1.3em;
  color: #9CAEA9;
}

/* Results Page */
.message {
  font-size: 1.3em;
  font-weight: 300;
}

.results {
  padding: 20px;
  background-color: #EAEAEA;
  border: 1px solid #4C4C4C;
  border-radius: 4px;

  p {
    margin: 8px 0px;
    font-size: 1.3em;
    font-weight: 300;
    color: #636363;
  }
}

/* Media Queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
  .letters > li {
    margin-bottom: 10px;
  }
  #basicUsage {
    top: 81%;
    left: 80%;
  }
}

@media(max-width: 750px) {
  .container {
    width: 450px;
  }
  .letters > li {
    margin-bottom: 10px;
  }
  #basicUsage {
    top: 85%;
    left: 85%;
  }
}

@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  h1 {
    font-size: 2em;
  }
  .letters > li {
    padding: 20px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  .assignment {
    font-size: 1.1em;
  }
  #basicUsage {
    top: 95%;
    left: 5%;
    font-size: 1.1em;
  }
}
